<div>
  <div class="flex items-center space-x-4">
    <%= image_tag 'logo.jpg', alt: "Logo", class: 'my-6' %>
    <%= image_tag @avatar, alt: "GitHub Avatar", class: 'w-24 h-24 rounded-full' %>
    <%= button_to "logout", destroy_user_session_path, method: :delete  %>
  </div>
  <p>
    <%= "Hello, #{current_user.nickname}, welcome to Line - The Developers Marketplace " %>
  </p>
  <% wallet_connected = current_user.wallet.present? %>
  <div 
    data-controller="wallet"
    data-wallet-project-id-value="<%= Rails.application.credentials.dig(:wallet_connect, :project_id) %>"
    data-wallet-user-id-value="<%= current_user.id %>"
    data-wallet-csrf-token-value="<%= form_authenticity_token %>"
  >
    <button 
      data-wallet-target="openModal"
      data-action="click->wallet#openModal"
      class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">
      <%= wallet_connected ? 'Disconnect Wallet' : 'Connect Wallet' %>
    </button>
  </div>

  <p>
    <% if @organizations.present? %>
      <ul>
        <% @organizations.each do |org| %>
          <li>
            <a href="https://github.com/<%= org.login %>" class="flex items-center space-x-4 hover:bg-gray-100 p-2 rounded" target="_blank" rel="noopener noreferrer">
              <%= image_tag org.avatar_url, alt: "#{org.login} logo", class: 'w-8 h-8' %>
              <span><%= org.login %></span>
            </a>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No organizations found.</p>
    <% end %>
  </p>
  <div>
    <% if @repos.present? %>
      <table>
        <% @repos.each do |repo| %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex justify-between items-center w-full">
                <div>
                  <% if repo[:org_avatar_url] %>
                    <%= image_tag repo[:org_avatar_url], alt: "Organization logo", class: "w-8 h-8 mr-4 inline" %>
                  <% else %>
                    <%= image_tag @avatar, alt: "User logo", class: "w-8 h-8 mr-4 inline rounded-full" %>
                  <% end %>
                  <span class="align-middle inline">
                    <%= link_to repo[:repo].full_name, "https://github.com/#{repo[:repo].full_name}", target: "_blank", rel: "noopener noreferrer", class: "text-blue-600 hover:text-blue-800" %>
                  </span>
                </div>
                <td>
                  <% campaign = @campaigns_by_repo_identifier[repo[:repo].full_name] %>
                  <% if campaign %>
                    <%= link_to 'Show Campaign', user_campaign_path(current_user, campaign, repo_identifier: repo[:repo].full_name), class: "btn btn-success" %>
                  <% else %>
                    <%= link_to 'Create Campaign', new_user_campaign_path(current_user, repo_name: repo[:repo].full_name), class: "btn btn-primary" %>
                  <% end %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= repo['html_url'] %>
                  <button class="bg-blue-500 text-white px-4 py-2 rounded copy-button" data-copy-text="Text to be copied">Copy Link</button>
                </td>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No repos found.</p>
  <% end %>
</div>
<script>
  
</script>
</div>
