<div>
  <div class="flex items-center space-x-4">
    <%= image_tag 'logo.jpg', alt: "Logo", class: 'my-6' %>
    <%= image_tag @avatar, alt: "Avatar", class: 'w-24 h-24 rounded-full' %>
  </div>
  <p>
    <%= "Hello, #{current_user.nickname}, welcome to Line - The Developers Marketplace " %>
  </p>
  <div
    data-controller="wallet"
    data-wallet-project-id-value="<%= Rails.application.credentials.dig(:wallet_connect, :project_id) %>"
    data-wallet-user-id-value="<%= current_user.id %>"
    data-wallet-csrf-token-value="<%= form_authenticity_token %>">
    <button
      data-wallet-target="openModal"
      data-action="click->wallet#openConnectModal"
      class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">
      <% if current_user.wallet.present? %>
        Disconnect Wallet
      <% else %>
        Connect Wallet
      <% end %>
    </button>
  </div>
  <p>
    <% if @organizations.present? %>
      <ul>
        <% @organizations.each do |org| %>
          <li>
            <a href="https://github.com/<%= org.login %>" class="flex items-center space-x-4 hover:bg-gray-100 p-2 rounded" target="_blank" rel="noopener noreferrer">
              <%= image_tag org.avatar_url, alt: "#{org.login} logo", class: 'w-8 h-8' %>
              <span><%= org.login %></span>
            </a>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No organizations found.</p>
    <% end %>
  </p>
  <div id="vue-app">
    <p><%= @repos.to_json %>here</p>
    <repo-list
      :repos='<%= raw @repos.to_json %>'
      :avatar-url="<%= @avatar %>"
      :avatar-alt="'User logo'"
      :campaigns-by-repo-identifier='<%= raw @campaigns_by_repo_identifier.to_json %>'></repo-list>
  </div>

  <script>
    function copyToClipboard(text) {
      if (navigator.clipboard && window.isSecureContext) {
        // Use the Clipboard API
        navigator.clipboard.writeText(text)
          .then(() => alert('Link copied to clipboard!'))
          .catch(err => console.error('Could not copy text to clipboard:', err));
      } else {
        // Fallback for older browsers
        const textArea = document.createElement("textarea");
        textArea.value = text;
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
          const successful = document.execCommand('copy');
          const msg = successful ? 'successful' : 'unsuccessful';
          console.log('Fallback: Copying text command was ' + msg);
          if (successful) alert('Link copied to clipboard!');
        } catch (err) {
          console.error('Fallback: Oops, unable to copy', err);
        }

        document.body.removeChild(textArea);
      }
    }
  </script>
</div>
