<div class="w-full" data-controller="contribution">
  <div class="mb-4">
    <strong>Support Campaign:</strong>
  </div>
  <div class="mb-4">
    <select class="block w-full p-2 border rounded" data-contribution-target="cadence">
      <option>One-Time</option>
      <option>Monthly</option>
      <option>Yearly</option>
    </select>
  </div>
  <div class="modal hidden" data-contribution-target="customAmountModal">
    <div class="modal-content">
      <input type="number" min="0" step="1" placeholder="Enter amount" data-contribution-target="customAmountInput">
      <button data-action="click->contribution#confirmCustomAmount">OK</button>
      <button data-action="click->contribution#cancelCustomAmount">Cancel</button>
    </div>
  </div>
  <div class="flex mb-4 space-x-2">
    <% [25, 50, 75, 'Custom'].each_with_index do |amount, index| %>
      <div class="flex-1">
        <% if amount == 'Custom' %>
          <%= button_tag amount,
            data: {
              action: "click->contribution#showCustomAmountModal",
              contribution_target: "amountButton",
              contribution_value: "Custom"
            },
            class: "w-full p-2 border rounded text-center" %>
          <input type="number" min="0" step="1" placeholder="Enter amount" name="user_name" autocomplete="name"
                class="w-full p-2 border rounded text-center modal"
                style="display: none;"
                data-contribution-target="customAmountInput"
                data-action="contribution#selectCustomAmount">
        <% else %>
          <%= button_tag "$#{amount}",
                    data: {
                      action: "contribution#selectAmount",
                      contribution_target: "amountButton",
                      contribution_value: amount.to_s
                    },
                    class: "w-full p-2 border rounded text-center #{'bg-blue-500 text-white' if index == 0 }" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="flex mb-4 space-x-2">
    <% accepted_currencies.each do |currency| %>
      <div class="flex-1">
        <%= button_tag currency,
          data: {
            action: "contribution#selectCurrency",
            contribution_target: "currencyButton",
            contribution_value: currency
          },
          class: "w-full p-2 border rounded text-center #{'bg-blue-500 text-white' if accepted_currencies.length == 1 }" %>
      </div>
    <% end %>
  </div>

  <div>
    <strong>Receiving Wallet:</strong>
    <p id="receiving-wallet-address" class="mb-4">
      <%= @campaign.receiving_wallet.address %>
    </p>
  </div>

  <% if current_user %>
    <div class="mb-4" data-controller="wallet"
        data-wallet-project-id-value="<%= Rails.application.credentials.dig(:wallet_connect, :project_id) %>"
        data-wallet-user-id-value="<%= current_user.id %>"
        data-wallet-csrf-token-value="<%= form_authenticity_token %>">
      <div>
        <strong>Your Wallet:</strong>
        <% if current_user.wallet.present? %>
          <p id="wallet-address" class="mb-12">
            <%= current_user.wallet&.address %>
          </p>
        <% else %>
          <%= button_tag "Add Wallet", type: "button", class: "text-blue-600 hover:text-blue-800 mb-4", data: { action: "wallet#openConnectModal" } %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= button_tag "Support",
    data: { action: "contribution#contribute" },
    class: "w-full p-2 bg-blue-500 text-white rounded" %>
  </div>
</div>
