<div class="mt-5" data-controller="currency">
  <h1 class="text-xl font-bold mb-4">Create a New Campaign for <%= @repository.name %></h1>
  <% unless current_user.wallet.present? %>
    <div
      data-controller="wallet"
      data-wallet-project-id-value="<%= Rails.application.credentials.dig(:wallet_connect, :project_id) %>"
      data-wallet-user-id-value="<%= current_user.id %>"
      data-wallet-csrf-token-value="<%= form_authenticity_token %>"
      data-wallet-target="openModal"
      data-action="click->wallet#openConnectModal"
      class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 cursor-pointer inline-block w-auto">
      connect wallet
    </div>
  <% end %>
  <%= form_with(model: [current_user, @repository, @campaign], local: true, class: "space-y-4", data: { action: "submit->currency#handleSubmit", currency_target: "form" }) do |form| %>
    <%= form.hidden_field :repository_id, value: @repository.id %>
    <% if @campaign.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Oops!</strong>
        <span class="block sm:inline"><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</span>
        <ul class="list-disc pl-5 mt-2">
          <% @campaign.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.hidden_field :receiving_wallet_id, value: current_user.wallet&.id %>
    </div>
    <div class="field">
      <%= form.label :creator, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <p>
        <%= "#{current_user.nickname}, project owner of #{@repo_name}, verified" %>
        <%= image_tag("verified-icon.svg", alt: "Verified Checkmark", class: "inline-block align-middle", style: "height: 20px; width: 20px;") %>
      </p>
    </div>
    <div class="field">
      <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="field">
      <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="flex mb-4 space-x-2">
      <div class="flex items-center mb-4">
        <%= check_box_tag 'select_all', 'all', false,
          id: "select-all-checkbox",
          data: {
            action: "click->currency#selectAll",
            currency_target: "selectAll"
          },
          class: "mr-2" %>
        <%= label_tag 'select_all', 'Select All', id: "select-all-label", class: "text-gray-700 text-sm font-bold" %>
      </div>
      <% Campaign::ALL_CURRENCIES.each do |currency| %>
        <div class="flex-1">
          <%= button_tag currency,
          type: "button",
            data: {
              action: "currency#selectCurrency",
              currency_target: "currencyButton",
              currency_value: currency
            },
            class: "currency-btn w-full p-2 border rounded text-center" %>
        </div>
      <% end %>
      <%= form.hidden_field :accepted_currencies, id: "accepted_currencies",
        data: { currency_target: "acceptedCurrencies" } %>
    </div>
    <div class="mt-4">
      <div class="mt-4">
        <%= form.label :contribution_cadence, 'Contribution Cadence', class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.select :contribution_cadence, ['both', 'recurring', 'one-time'], {}, {class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"} %>
      </div>
    </div>
    <%= form.submit (@campaign.new_record? ? 'Create Campaign' : 'Edit Campaign'), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  <% end %>
</div>
